@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

        *,
        *:after,
        *:before {
            box-sizing: border-box;
        }

        :root {
            --header-outer-height: 110px;
            --header-inner-height: 95px;
            --header-height-difference: calc(var(--header-outer-height) - var(--header-inner-height));
            --header-bg: #d7ab75;
        }

        body {
            font-family: "Oswald', sans-serif";
            background-color: #FFFFFF;
            line-height: 1.5;
            min-height: 100vh;
            position: relative;
            margin: 0;
            padding-bottom: 100px;
            /* height: auto !important; */
        }

        .responsive-wrapper {
            width: 90%;
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        /* Sticky header */

        .header-outer {
            /* Make it stick */
            height: var(--header-outer-height);
            position: sticky;
            top: calc(var(--header-height-difference) * -1);
            /* Multiply by -1 to get a negative value */
            display: flex;
            align-items: center;
            /* Other */
            background-color: var(--header-bg);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            color: #FFFFFF;
            font-weight: bold;
            z-index: 9999;
        }

        .header-inner {
            /* Make it stick */
            height: var(--header-inner-height);
            position: sticky;
            top: 1;
            /* Other */
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        /* Styling of other elements */

        .header-logo img {
            display: block;
            /* height: calc(var(--header-inner-height) - 30px); */
            /* height: 100px; */
            width: 95px;
            /* text-align: center; */
        }

        .header-logo {
            display: block;
            font-size: 32px;
        }

        .header-navigation {
            display: flex;
            flex-wrap: wrap;
            font-weight: bold;
        }

        .header-navigation a,
        .header-navigation button {
            font-size: 1.125rem;
            color: inherit;
            margin-left: 1.75rem;
            position: relative;
            /* font-weight: 500; */
        }

        .header-navigation a {
            display: none;
            font-size: 2px;
            color: inherit;
            text-decoration: none;
        }

        .header-navigation button {
            border: 0;
            background-color: transparent;
            padding: 0;
        }

        .header-navigation a:hover:after,
        .header-navigation button:hover:after {
            transform: scalex(1);
        }

        .header-navigation a:after,
        .header-navigation button:after {
            transition: 0.25s ease;
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: currentcolor;
            transform: scalex(0);
            position: absolute;
            bottom: -2px;
            left: 0;
        }

        @media (min-width: 800px) {
            .header-navigation a {
                font-size: 20px;
                display: inline-block;
            }

            .header-navigation button {
                display: none;
            }
        }

        /* footer */
        footer {
            position: absolute;
            text-align: center;
            bottom: 0;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-color: #dbb07c;
            font-size: 16px;
            font-weight: bold;
        }

        pre {
            display: block;
            font-family: monospace;
            white-space: pre;
            margin: 1em 0px !important;
            font-size: 16px;
        }

        /* 表格 */
        @import "compass/css3";

        /* I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things... Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned. */
        /* Global settings */
        /* Global "table" column settings */
        .product-image {
            float: left;
            width: 20%;
        }

        .product-details {
            float: left;
            width: 37%;
        }

        .product-price {
            float: left;
            width: 12%;
        }

        .product-quantity {
            float: left;
            width: 10%;
        }

        .product-removal {
            float: left;
            width: 9%;
        }

        .product-line-price {
            float: left;
            width: 12%;
            text-align: right;
        }

        /* This is used as the traditional .clearfix class */
        .group:before,
        .shopping-cart:before,
        .column-labels:before,
        .product:before,
        .totals-item:before,
        .group:after,
        .shopping-cart:after,
        .column-labels:after,
        .product:after,
        .totals-item:after {
            content: '';
            display: table;
        }

        .group:after,
        .shopping-cart:after,
        .column-labels:after,
        .product:after,
        .totals-item:after {
            clear: both;
        }

        .group,
        .shopping-cart,
        .column-labels,
        .product,
        .totals-item {
            zoom: 1;
        }

        /* Apply clearfix in a few places */
        /* Apply dollar signs */
        .product .product-price:before,
        .product .product-line-price:before,
        .totals-value:before {
            content: '$';
        }

        /* Body/Header stuff */
        body {
            /* padding: 0px 30px 30px 20px; */
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 100;
        }

        h1 {
            font-weight: 100;
        }

        label {
            color: #aaa;
        }

        .shopping-cart {
            margin-top: -45px;
        }

        /* Column headers */
        .column-labels label {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #eee;
        }

        .column-labels .product-image,
        .column-labels .product-details,
        .column-labels .product-removal {
            text-indent: -9999px;
        }

        /* Product entries */
        .product {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(209, 206, 206);
        }

        .product .product-image {
            text-align: center;
        }

        .product .product-image img {
            width: 100px;
        }

        .product .product-details .product-title {
            margin-right: 20px;
            font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
        }

        .product .product-details .product-description {
            margin: 5px 20px 5px 0;
            line-height: 1.4em;
        }

        .product .product-quantity input {
            width: 40px;
        }

        .product .remove-product {
            border: 0;
            padding: 4px 8px;
            background-color: #c66;
            color: #fff;
            font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
            font-size: 12px;
            border-radius: 3px;
        }

        .product .remove-product:hover {
            background-color: #a44;
        }

        /* Totals section */
        .totals .totals-item {
            float: right;
            clear: both;
            width: 100%;
            margin-bottom: 10px;
        }

        .totals .totals-item label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
        }

        .totals .totals-item .totals-value {
            float: right;
            width: 21%;
            text-align: right;
        }

        .totals .totals-item-total {
            font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
        }

        .checkout {
            float: right;
            border: 0;
            margin-top: 20px;
            padding: 6px 25px;
            background-color: #6b6;
            color: #fff;
            font-size: 25px;
            border-radius: 3px;
        }

        .checkout:hover {
            background-color: #494;
        }

        /* Make adjustments for tablet */
        @media screen and (max-width: 650px) {
            .shopping-cart {
                margin: 0;
                padding-top: 20px;
                border-top: 1px solid #eee;
            }

            .column-labels {
                display: none;
            }

            .product-image {
                float: right;
                width: auto;
            }

            .product-image img {
                margin: 0 0 10px 10px;
            }

            .product-details {
                float: none;
                margin-bottom: 10px;
                width: auto;
            }

            .product-price {
                clear: both;
                width: 70px;
            }

            .product-quantity {
                width: 100px;
            }

            .product-quantity input {
                margin-left: 20px;
            }

            .product-quantity:before {
                content: 'x';
            }

            .product-removal {
                width: auto;
            }

            .product-line-price {
                float: right;
                width: 70px;
            }
        }

        /* Make more adjustments for phone */
        @media screen and (max-width: 350px) {
            .product-removal {
                float: right;
            }

            .product-line-price {
                float: right;
                clear: left;
                width: auto;
                margin-top: 10px;
            }

            .product .product-line-price:before {
                content: 'Item Total: $';
            }

            .totals .totals-item label {
                width: 60%;
            }

            .totals .totals-item .totals-value {
                width: 40%;
            }
        }

        /* 同會員資料按鈕 */
        button#inputReceiverInfo{
            background-color:burlywood;
            color: white;
            font-weight: bold;
            box-shadow: none;
            border: 0;
            padding: 5px 20px;
            border-radius: 20px;
            cursor: pointer;
        }